################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/WebApplication7/FileContentIndex/merges
/.vs/WebApplication7/FileContentIndex
