@model WebApplication7.Models.Book.RegisterNameViewModel

<h1>Register name</h1>
<p>
    <form method="HttpPost">

        <label>Name</label>
    <input type="text" name="Name" value="@Model.Name" />
    <input type="submit" />

    </form>
</p>